@model XcConnect.Models.Empresa

@{
    ViewBag.Title = "Empresas";
}

<h2>Eliminar Empresa</h2>

<h3>Esta seguro de eliminar esta empresa?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitioWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitioWeb)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "Errores: ", new { @style = "color: white; text-align: left; " })

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary btn-md" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
